@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@700&family=Raleway&display=swap");

/* .footer-title {
  @apply font-bold text-lg
} */

.link {
  @apply text-black
}

.btn {
  @apply rounded-full hover:no-underline px-8
}

h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1;
  padding-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #977921;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 1rem;
}

p,
span,
a {
  font-family: Raleway;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-bottom: 1rem;
}

li {
  font-family: Raleway;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  font-weight: 900;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 0;
}

li {
  margin-bottom: 8px;
}

a {
  color: #37167f;
}
a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}